@page "/Backlog/{Preset?}"
@using Microsoft.AspNetCore.Razor.Language;
@using System.IO;
@model RPS.Web.Pages.Backlog.ItemsModel


<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3">
    <h1 class="h2">Backlog</h1>
    <div class="btn-toolbar mb-2 mb-md-0">
        <div class="btn-group mr-2">
            <a class="btn btn-secondary" asp-page="Items" asp-route-Preset="My">My Items</a>
            <a class="btn btn-secondary" asp-page="Items" asp-route-Preset="Open">Open Items</a>
            <a class="btn btn-secondary" asp-page="Items" asp-route-Preset="Closed">Done Items</a>
        </div>

        <div class="btn-group mr-2">
            <a class="btn btn-secondary" asp-page="Create">Add</a>
        </div>

    </div>
</div>
@{
    var line = string.Empty;
    using (StreamReader sr = new StreamReader("Pages/Shared/_Lol.cshtml"))
    {
         line = sr.ReadToEnd();
    }
}

@(Html.Kendo()
      .Grid(Model.GridData)
      .Name("grid")
      .Columns(colums =>
      {
          colums.Bound(c => c.Type)
          .Title(" ")
          .Width(50);

          colums.Bound(c => c.AssigneeFullName)
          .Title("Assignee")
          .Width(120);

          colums.Bound(c => c.Title);
          colums.Bound(c => c.Priority)
          .Width(100);

          colums.Bound(c => c.Estimate)
          .Width(100);

          colums.Bound(c => c.DateCreated)
                .Title("Created")
                .Width(160);
                
      })
      .ClientRowTemplate(@line)
                .Pageable()
                .Sortable()
                .Scrollable(scr => scr.Height(430))
                .Selectable()
                .Events(events =>
                {
                    events.Change("onChange");
                })
)

@section styles {
    <link href="~/css/backlog.css" rel="stylesheet" />
}


@section scripts {
    <script src="~/js/item.js" asp-append-version="true"></script>
}

